// USER VARIABLES SECTION
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$blue: rgba(0, 122, 255, 0.1);
$blueHover: rgba(0, 122, 255, 0.2);
$lightblue: #E8EDF5;
$accent: #007AFF;
$accentHover: rgba(#007AFF, .8);
$text: #000000;
$white: #ffffff;
$background: #F9FAFC;
$footer:  #25436B;
$grey: #F4F5F7;
$phone: #121515;
$star: #FFA500;
$inputBorder: #DBDFE6;
$red: #c51818;
$green: #2e6f1a;

// GENERAL DOCUMENT STYLES
input,
textarea {
    outline: transparent;
}

html {
    box-sizing: border-box;
    height: 100%;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-width: 320px;
    font-family: "Graphic-Regular", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%; // === 26px
    color: $text;
    background: $background;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    margin: 0;
    padding-left: 30px;
    list-style-type: disc;
}

li {
    padding: 0;
    margin: 25px 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    margin: 15px 0;
    line-height: 120%;
}

h1,h2,h3,h4 {
    font-weight: 600;
    font-family: 'Graphik-Semibold', sans-serif;
}

h5,h6 {
    font-weight: 400;
    font-family: 'Graphik-Regular', sans-serif;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 34px;
    line-height: 118%;
}

h3 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

// Input number fix
input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
// /Input number fix

input, textarea {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid $inputBorder;
    border-radius: 5px;
    padding: 14px 12px;
    margin: 15px 0;

    &::placeholder {
        color: rgba($text, .4);
    }

    // Дополнительные классы для валидации
    &.invalid {
        color: $red;
        border-color: $red;

        &::placeholder {
            color: $red;
        }
    }
    &.valid {
        color: $green;
        border-color: $green;

        &::placeholder {
            color: $green;
        }
    }
}

button {
    outline: transparent;
    cursor: pointer;
}

textarea {
    resize: none;
    min-height: 128px;
}

picture {
    display: flex;
}

img {
    display: inline-flex;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

form .btn {
    min-width: 256px;
}

form button {
    display: inline-block;
    font-family: 'Graphik-Semibold', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    background-color: $accent;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    white-space: break-spaces;
    border: none;
    border-radius: 7px;
    color: $white;
    min-width: 110px;
}

.logo {
    display: block;
}

.block-scroll {
    overflow: hidden;

    body {
        overflow: hidden;
        height: 100%;
    }
}

.container {
    max-width: 1005px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;

    &--large {
        max-width: 1210px;
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
    padding-top: 100px;
}

.btn {
    display: inline-block;
    font-family: 'Graphik-Semibold', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    background-color: $accent;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    white-space: break-spaces;
    border: none;
    border-radius: 7px;
    color: $white;
    min-width: 110px;

    &--round {
        padding: 10px 15px;
        border-radius: 40px;
    }
    
    &--blue {
        background-color: $blue;
        color: $accent;
    }

    &--shadow {
        padding: 21px 30px;
        box-shadow: 0px 8px 20px rgba(8, 59, 129, 0.19);
        border-radius: 10px;
        min-width: 292px;
    }

    &:focus {
        box-shadow: 0px 3px 7px rgba(8, 59, 129, 0.19);
    }
}

.download-banner {
    font-family: 'Graphik-Medium', 'sans-serif';
    font-weight: 500;
    font-size: 13px;
    line-height: 155%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: $background;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.1);

    &__logo {
        margin-right: 10px;
    }
}

.align-center {
    text-align: center;
}

.socials {
    padding: 15px 0;

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        margin: -4px;
    }
    
    li {
        margin: 4px;
    }
}

.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 475px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &__line {
        height: 2px;
        width: 100%;
        background-color: #E6E7EA;
    }

    &__label {
        flex: 0 0 auto;
        margin: 0 25px;
        color: #B7C1D3;
        text-transform: uppercase;
    }
}

.pagination {
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        margin: -7px;
    }
    li {
        margin: 7px;
        background-color: rgba($text, .03);
        border-radius: 50%;

        &.active {
            background-color: $accent;
            color: $white;
        }
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

}

.mb-medium {
    margin-bottom: 45px;
}

.preload * {
	transition: none !important;
}