@media (min-width: 1921px) {
   .reviews-slider {
      &__item {
         max-width: 600px;
      }
   }
}

// Hover section
@media (min-width: 1025px) {
   .pagination {
      li {
         transition: all .2s;
         &:hover {
            background-color: $lightblue;
         }
         &.active:hover {
            background-color: $accentHover;
         }
      }
   }
   .contacts__email {
      span, svg, path {
         transition: all .2s ease-in;
      }
      &:hover {
         span {
            transform: translateX(-1px);
            color: $footer;
         }
         svg {
            transform: translateX(1px);
            
         }
         path {
            fill: $accent;
         }
      }
   }
   .btn {
      transition: all .2s;
      &:hover {
         background-color: $accentHover;
      }
      &--blue:hover {
         background-color: $blueHover;
      }
   }
   .socials {
      svg, path {
         transition: all .2s;
      }
      a:hover {
         background-color: $blue;

         svg, path {
            fill: $accentHover;
         }
      }
   }
   .header__navigation li:hover {
      &::after {
            width: 100%;
      }
   }
   .hero__btn-label a:hover {
      color: $accentHover;
   }
   .info-block__btn:hover {
      span {
         color: $accentHover;
      }
      path {
         stroke: $accentHover;
      }
   }
   .info-block__link:hover {
      span {
         color: $accentHover;
      }
      path {
         fill: $accentHover;
      }
   }
}
// /Hover section

// Laptop
@media (max-width: 1366px) {
   .header {
      &__navigation {
         ul {
            margin: 0 -12px;
         }
         li {
            margin: 0 12px;
         }
      }
      &__buttons {
         margin-left: 30px;
      }
   }
}

@media (max-width: 1280px) {
   .feature__subtitle {
      max-width: 450px;
   }
   h1 {
      font-size: 34px;
   }
   h2 {
      font-size: 26px;
   }
   h5 {
      font-size: 19px;
   }
}

@media (max-width: 1200px) {
   .header {
      min-height: 80px;
      &__inner {
         padding: 15px;
      }
      &__buttons {
         flex-direction: column;
      }
      &__btn:last-child {
         margin-left: 0;
         margin-top: 10px;
      }
   }
}
// Laptop

// Tablets 
@media (max-width: 1024px) {
   .blog {
      &__item-wrapper {
         width: calc(50% - 40px);
      }
   }
   .contacts {
      padding-top: 60px;
      padding-bottom: 100px;

      &--support {
         padding-top: 30px;
      }

      &__divider {
         margin-bottom: 60px;
      }

      &__socials {
         margin-bottom: 45px;
         margin-top: 20px;
      }
   }
   .info {
      padding: 75px 0;
   }
   .feature {
      padding-top: 60px;
      padding-bottom: 90px;
      &__title {
         margin-bottom: 80px;
      }
      &__images {
         margin-bottom: 60px;
      }
   }
   .rating {
      padding-bottom: 70px;
   }
   .page-head__inner {
      padding: 50px 25px;
   }
   .lead {
      padding: 50px 0;
   }
   .about {
      padding: 70px 0;
      &__item {
         margin: 0 -22px 80px -22px;
      }
   }
   .main {
      padding-top: 170px;
   }
   .header {
      &.active {
         height: 100vh;
         .header__navigation {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            height: 100%;
            width: 100%;
            z-index: 3;
            background-color: $white;
            overflow: auto;
            padding-bottom: 50px;

            ul {
               font-size: 18px;
               display: block;
               padding-top: 50px;
               margin: 0;
               margin-bottom: 40px;
               color: $accent;
               padding-right: 60px;

               a {
                  padding: 12px 0;
               }
            }
            li {
               margin: 0;
               border-bottom: 1px solid $blue;
            }
         }
      }
      &__banner {
         display: flex;
      }
      &__navigation-logo {
         display: block;
      }
      &__mobile-buttons {
         display: block;
         margin: 0 auto;
         text-align: center;
         margin-top: 40px;
      }
      &__mobile-btn {
         display: block;
         margin-top: 10px;
      }
      &__navigation {
         display: none;
         padding: 15px;
      }
      
      &__menu-btn {
         display: flex;
      }
      &__buttons {
         flex-direction: row;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         margin: -8px;
      }
      &__btn {
         display: block;
         max-width: 300px;
         margin: 8px;
         height: 100%;

         &:last-child {
            margin: 8px;
         }
      }
   }
   .footer {
      &__info {
         width: 21%;
         margin-right: 40px;
      }
      &__nav {
         width: 79%;
         margin: 0 -8px;
      }
      &__list {
         width: calc(25% - 16px);
         margin: 0 8px;
      }
      &__buttons {
         flex-wrap: wrap;
      }
   }
}

@media (max-width: 768px) {
   .reviews-slider {
      padding: 25px 0;
      &__item {
         padding: 25px;
         min-height: auto;
      }
   }
   .footer {
      &__inner {
         flex-direction: column-reverse;
      }
      &__info {
         width: 100%;
         margin-right: 0;
      }
      &__buttons {
         justify-content: center;
      }
      &__nav {
         width: calc(100% + 16px);
         overflow: hidden;
         margin: 0 -8px;
         margin-bottom: 40px;
      }
      &__list {
         width: calc(25% - 16px);
         margin: 0 8px;
      }
   }
   .about {
      &__item {
         margin: 0 -22px 70px -22px;
      }
   }
}

@media (max-width: 700px) {
   .about {
      &__img {
         &--border {
            &::before {
               border-radius: 40px;
               border-width: 7px;
            }
            img {
               border-radius: 40px;
            }
         }
         img {
            min-width: 60%;
            margin: 0 auto;
         }
      }
      &__item {
         flex-direction: column-reverse;
         margin-left: 0;
         margin-right: 0;
         &:nth-child(even) {
            flex-direction: column-reverse;
         }
      }
      &__img-wrapper {
         width: 100%;
         margin: 0;
         text-align: center;
         margin-bottom: 30px;
      }
      &__info {
         width: 100%;
         margin: 0;
         padding-top: 0;
      }
   }
} 

@media (max-width: 640px) {
   .blog__item img {
      height: auto;
      max-height: 500px;
      width: 100%;
   }
   .blog {
      &__items {
         margin: 0;
      }
      &__item-wrapper {
         width: 100%;
         margin: 0;
         margin-bottom: 60px;
         &:last-child {
            margin-bottom: 0;
         }
      }
      &__category {
         margin: 0;
      }
   }
   .contacts {
      &__email {
         font-size: 20px;
      }
   }
   .info__item {
      margin-bottom: 65px;
   }
   .info-block {
      &__col {
         margin-left: 15px;
         margin-right: 15px;
         width: calc(100% - 30px);
      }
      &__row {
         margin-left: -15px;
         margin-right: -15px;
      }
   }
   .star-rating {
      &__value {
         font-size: 60px;
         line-height: 80px;
      }
   }
   .rating {
      &__stat {
         margin-bottom: 30px;
      }
      &__download-btn {
         margin-top: 40px;
      }
   }
   .footer {
      font-size: 17px;
      &__list {
         width: calc(50% - 16px);
         margin-bottom: 30px;
      }
      &__btn {
         max-width: 220px;
         width: auto;
      }
   }
   .about {
      &__item {
         margin-left: 0;
         margin-right: 0;
      }
   }
}
// /Tablets 

// Mobile phones
@media (max-width: 420px) {
   .reviews-slider {
      &__item {
         padding: 25px 15px;
         box-shadow: 0px 9px 15px rgba(12, 52, 106, 0.1);
      }
   }
}
@media (max-width: 370px) {
   .rating {
      &__download-btn {
         width: 200px;
      }
      &__stat {
         flex-direction: column;
      }
      &__col {
         margin-bottom: 50px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   .footer {
      &__inner {
         padding: 50px 0;
      }
      &__text {
         margin-bottom: 40px;
      }
      &__list {
         width: 100%;
         margin: 0;
         margin-bottom: 30px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   } 
   .btn--shadow {
      min-width: 200px;
   }
}
// /Mobile phones