@media (min-width: 1921px) {
   .reviews-slider {
      &__item {
         max-width: 600px;
      }
   }
}

// Hover section
@media (min-width: 1025px) {
   .pagination {
      li {
         transition: all .2s;
         &:hover {
            background-color: $lightblue;
         }
         &.active:hover {
            background-color: $accentHover;
         }
      }
   }
   .contacts__email {
      span, svg, path {
         transition: all .2s ease-in;
      }
      &:hover {
         span {
            transform: translateX(-1px);
            color: $footer;
         }
         svg {
            transform: translateX(1px);
            
         }
         path {
            fill: $accent;
         }
      }
   }
   .btn {
      transition: all .2s;
      &:hover {
         background-color: $accentHover;
      }
      &--blue:hover {
         background-color: $blueHover;
      }
   }
   .socials {
      svg, path {
         transition: all .2s;
      }
      a:hover {
         background-color: $blue;

         svg, path {
            fill: $accentHover;
         }
      }
   }
   // Меню хедер
   .header__navigation {
      li {
         transition: .3s ease;
         margin: 0;
      }
      a {
            transition: .3s ease;
      }
      & > ul > li {
         
        // Вложенное меню № 1
         & > ul {
               position: absolute;
               left: -30px;
               top: 100%;
               width: 255px;
               padding-top: 1px;
               padding-right: 1px;
               z-index: 2;
               
               & > li {
                  position: relative;
                  background-color: #fff;

                  & > a {
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     padding: 30px;
                     margin-bottom: 1px;
                     & > svg {
                           transition: .3s ease;
                     }
                  }

                  // Вложенное меню № 2
                  & > ul {
                     position: absolute;
                     right: calc(-100% - 2px);
                     top: 0;
                     width: 255px;
                     background-color: #fff;
                     z-index: 3;
                     & > li {
                           & > a {
                              display: block;
                              padding: 10px 30px;
                           }
                           &:first-child {
                              a {
                                 padding-top: 30px;
                              }
                           }
                           &:last-child {
                              a {
                                 padding-bottom: 30px;
                              }
                           }
                     }
                  }
               }
         }
      }
   }
   .header__navigation>ul>li:hover {
      & > ul {
         display: block;
      }
      &::after {
            width: 100%;
      }
   }
   // Вложенное меню № 1
   .header__navigation>ul>li>ul>li:hover {
      background-color: $background;
      & > a {
         color: $accent;
         & > svg path {
            stroke: $accent;
         }
      }
      & > ul {
         display: block;
      }
   }
   // Вложенное меню № 2
   .header__navigation>ul>li>ul>li>ul>li:hover {
      background-color: $background;
      & > a {
         color: $accent;
      }
   }
   .hero__btn-label a:hover {
      color: $accentHover;
   }
   .info-block__btn:hover {
      span {
         color: $accentHover;
      }
      path {
         stroke: $accentHover;
      }
   }
   .info-block__link:hover {
      span {
         color: $accentHover;
      }
      path {
         fill: $accentHover;
      }
   }
}
// /Hover section

// Laptop
@media (max-width: 1366px) {
   .header {
      &__navigation {
         ul {
            margin: 0 -12px;
         }
         li {
            margin: 0 12px;
         }
      }
      &__buttons {
         margin-left: 30px;
      }
   }
}

@media (max-width: 1280px) {
   .feature__subtitle {
      max-width: 450px;
   }
   h1 {
      font-size: 34px;
   }
   h2 {
      font-size: 26px;
   }
   h3 {
      font-size: 23px;
   }
   h5 {
      font-size: 19px;
   }
}

@media (max-width: 1200px) {
   .templates {
      &__item {
            width: calc(33.333% - 40px);
      }
   }
   .header {
      min-height: 80px;
      &__inner {
         padding: 15px;
      }
      &__buttons {
         flex-direction: column;
      }
      &__btn:last-child {
         margin-left: 0;
         margin-top: 10px;
      }
   }
}
// Laptop

// Tablets 
@media (max-width: 1024px) {
   .templates {
      padding-top: 40px;
      padding-bottom: 60px;
   }
   .invoice-templates__content {
      max-width: 380px;
   }
   .about-reviews {
      padding-top: 90px;
   }
   .plan {
      padding-top: 50px;
      padding-bottom: 40px;
      &__price {
         font-size: 48px;
      }
   }
   .plan-benefits {
      padding-bottom: 45px;
      &__list {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
      }
   }
   .submenu {
      & > a {
         position: relative;

         &::after {
            position: absolute;
            content: "";
            right: 0;
            top: 50%;
            transform: translateX(-50%);
            background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 0.999999' stroke='%23000000' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            width: 7px;
            height: 10px;
            transition: .3s ease;
         }
      }
      &.active {
         a::after {
            transform: rotate(90deg) translateX(-50%);
            transition: .3s ease;
         }
      }
   }
   
   .header {
      &__navigation {
         & > ul > li {
            padding: 10px 0;
         }
         ul a {
            display: flex;
            justify-content: space-between;
            align-items: center;
         }
      }
   }
   .header__navigation>ul>li>ul>li>a>svg {
      transition: transform .3s ease;
      path {
         stroke: $text;
      }
   }
   .header__navigation li.active >a>svg {
      transform: rotate(90deg);
   }
   .modal__container {
      overflow-y: scroll;
   }
   .error {
      padding: 60px 0;
      &__title {
         margin-bottom: 50px;
      }
   }
   .specialty {
      padding-top: 45px;
      padding-bottom: 75px;
   }
   .article {
      padding-top: 40px;
      padding-bottom: 30px;
   }
   .text-box {
      margin-bottom: 60px;
   }
   .mb-medium {
      margin-bottom: 30px;
   }
   .article-blog {
      padding-bottom: 70px;
      padding-top: 35px;
   }
   .blog-items__article {
      width: calc(50% - 40px);
   }
   .contacts {
      padding-top: 60px;
      padding-bottom: 100px;

      &--support {
         padding-top: 30px;
      }

      &__divider {
         margin-bottom: 60px;
      }

      &__socials {
         margin-bottom: 45px;
         margin-top: 20px;
      }
   }
   .blog-questions {
      padding-bottom: 40px;
   }
   .info {
      padding: 75px 0;
   }
   .feature {
      padding-top: 60px;
      padding-bottom: 90px;
      &__title {
         margin-bottom: 80px;
      }
      &__images {
         margin-bottom: 60px;
      }
   }
   .rating {
      padding-bottom: 70px;
   }
   .page-head__inner {
      padding: 50px 25px;
   }
   .lead {
      padding: 50px 0;
   }
   .about {
      padding: 70px 0;
      &__item {
         margin: 0 -22px 80px -22px;
      }
   }
   .main {
      padding-top: 170px;
   }
   .header {
      &.active {
         height: 100vh;
         .header__navigation {
            height: 100vh;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            height: 100%;
            width: 100%;
            z-index: 11;
            background-color: $white;
            overflow: auto;
            padding-bottom: 50px;

            & > ul {
               font-size: 18px;
               display: block;
               padding-top: 50px;
               margin: 0;
               margin-bottom: 40px;
               color: $text;
               padding-right: 60px;

               a {
                  padding: 15px 0;
               }
            }
            & > ul > li {
               margin: 0;
               border-bottom: 1px solid $blue;
               
               // Вложенное меню №1
               & > ul {
                  padding-left: 5px;
               }
               & > ul > li {
                  color: #112354;
                  border-bottom: 1px solid $background;
                  // Вложенное меню №2
                  & > ul {
                     padding-left: 5px;
                  }
                  & > ul > li {
                     color: $accent;
                  }
               }
            }
         }
      }
      &__banner {
         display: flex;
      }
      &__navigation-logo {
         display: block;
      }
      &__mobile-buttons {
         display: block;
         margin: 0 auto;
         text-align: center;
         margin-top: 40px;
         margin-bottom: 30px;
      }
      &__mobile-btn {
         display: block;
         margin-top: 10px;
      }
      &__navigation {
         display: none;
         padding: 15px;
      }
      
      &__menu-btn {
         display: flex;
      }
      &__buttons {
         flex-direction: row;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         margin: -8px;
      }
      &__btn {
         display: block;
         max-width: 300px;
         margin: 8px;
         height: 100%;

         &:last-child {
            margin: 8px;
         }
      }
   }
   .footer {
      &__info {
         width: 21%;
         margin-right: 40px;
      }
      &__nav {
         width: 79%;
         margin: 0 -8px;
      }
      &__list {
         width: calc(25% - 16px);
         margin: 0 8px;
      }
      &__buttons {
         flex-wrap: wrap;
      }
   }
}

@media (max-width: 850px) {
   .templates {
      &__item {
         width: calc(50% - 40px);
      }
   }
}

@media (max-width: 768px) {
   .invoice-templates {
      &__inner {
         flex-direction: column;
      }
      &__content {
         max-width: 100%;
         margin-bottom: 50px;
      }
      &__img {
         margin: 0 auto;
      }
   }
   .about-desc {
      padding-bottom: 40px;
      padding-top: 50px;
   }
   .about-benefits {
      padding: 45px 0;
      &__list {
         margin: -15px;
      }
      &__item {
         width: calc(33.333% - 30px);
         margin: 15px;
      }
      &__title {
         font-size: 48px;
         margin-bottom: 34px;
      }
   }
   .reviews-slider {
      padding: 25px 0;
      &__item {
         padding: 25px;
         min-height: auto;
      }
   }
   .footer {
      &__inner {
         flex-direction: column-reverse;
      }
      &__info {
         width: 100%;
         margin-right: 0;
      }
      &__buttons {
         justify-content: center;
      }
      &__nav {
         width: calc(100% + 16px);
         overflow: hidden;
         margin: 0 -8px;
         margin-bottom: 40px;
      }
      &__list {
         width: calc(25% - 16px);
         margin: 0 8px;
      }
      &__btn img {
         height: 50px;
      }
   }
   .about {
      &__item {
         margin: 0 -22px 70px -22px;
      }
   }
}

@media (max-width: 700px) {
   .about-desc__head {
      margin-bottom: 60px;
   }
   .about {
      &__img {
         &--border {
            &::before {
               border-radius: 40px;
               border-width: 7px;
            }
            img {
               border-radius: 40px;
            }
         }
         img {
            min-width: 60%;
            margin: 0 auto;
         }
      }
      &__item {
         flex-direction: column-reverse;
         margin-left: 0;
         margin-right: 0;
         &:nth-child(even) {
            flex-direction: column-reverse;
         }
      }
      &__img-wrapper {
         width: 100%;
         margin: 0;
         text-align: center;
         margin-bottom: 30px;
      }
      &__info {
         width: 100%;
         margin: 0;
         padding-top: 0;
      }
   }
} 

@media (max-width: 640px) {
   .templates {
      &__item {
         width: 100%;
         margin-left: 0;
         margin-right: 0;
      }
      &__list {
         margin: 0;
      }
      &__link {
         width: 100%;
         justify-content: center;
      }
   }
   .about-benefits {
      padding: 25px 0;
      &__list {
         margin: 0;
      }
      &__item {
         width: 100%;
         margin: 0;
         margin-bottom: 30px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   .plan-benefits {
      padding-bottom: 45px;
      &__list {
         grid-template-columns: 1fr;
      }
      &__img {
         height: auto;
      }
   }
   .blog-questions {
      padding-top: 5px;
      &__name {
         padding-left: 15px;
         padding-right: 15px;
      }
      &__answer {
         padding-left: 15px;
         padding-right: 15px;
      }
   }
   .blog__item img {
      height: auto;
      max-height: 500px;
      width: 100%;
   }
   .blog-items {
      margin: 0;

      &__article {
         width: 100%;
         margin: 0;
         margin-bottom: 60px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   .blog {
      &__category {
         margin: 0;
      }
   }
   .contacts {
      &__email {
         font-size: 20px;
      }
   }
   .info__item {
      margin-bottom: 65px;
   }
   .info-block {
      &__col {
         margin-left: 15px;
         margin-right: 15px;
         width: calc(100% - 30px);
      }
      &__row {
         margin-left: -15px;
         margin-right: -15px;
      }
   }
   .star-rating {
      &__value {
         font-size: 60px;
         line-height: 80px;
      }
   }
   .rating {
      &__stat {
         margin-bottom: 30px;
      }
      &__download-btn {
         margin-top: 40px;
      }
   }
   .footer {
      font-size: 17px;
      &__list {
         width: calc(50% - 16px);
         margin-bottom: 30px;
      }
      &__btn {
         max-width: 220px;
         width: auto;
      }
   }
   .about {
      &__item {
         margin-left: 0;
         margin-right: 0;
      }
   }
}
// /Tablets 

// Mobile phones
@media (max-width: 420px) {
   .plan {
      &__inner {
         max-width: 100%;
      }
      &__btn {
         width: 100%;
      }
   }
   .article__img img {
      max-height: 200px;
   }
   .modal__btn {
      width: 100%;
   }
   .reviews-slider {
      &__item {
         padding: 25px 15px;
         box-shadow: 0px 9px 15px rgba(12, 52, 106, 0.1);
      }
   }
}
@media (max-width: 370px) {
   .about__phones-img--google {
      padding: 9px;
   }
   .rating {
      &__download-btn {
         width: 200px;
      }
      &__stat {
         flex-direction: column;
      }
      &__col {
         margin-bottom: 50px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   .footer {
      &__inner {
         padding: 50px 0;
      }
      &__text {
         margin-bottom: 40px;
      }
      &__list {
         width: 100%;
         margin: 0;
         margin-bottom: 30px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   } 
   .btn--shadow {
      min-width: 200px;
   }
}
// /Mobile phones