@media (min-width: 1025px) {
   // Hover section
   .btn {
      transition: background-color .2s;
      &:hover {
         background-color: $accentHover;
      }
      &--blue:hover {
         background-color: $blueHover;
      }
   }
   .header__navigation li:hover {
      &::after {
            width: 100%;
      }
   }
   // /Hover section
}

// Laptop
@media (max-width: 1366px) {
   .header {
      &__navigation {
         ul {
            margin: 0 -12px;
         }
         li {
            margin: 0 12px;
         }
      }
      &__buttons {
         margin-left: 30px;
      }
   }
}

@media (max-width: 1200px) {
   .header {
      min-height: 80px;
      &__inner {
         padding: 15px;
      }
      &__buttons {
         flex-direction: column;
      }
      &__btn:last-child {
         margin-left: 0;
         margin-top: 10px;
      }
   }
}
// Laptop

// Tablets 
@media (max-width: 1024px) {
   .header {
      &.active {
         height: 100vh;
         .header__navigation {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            height: 100%;
            width: 100%;
            z-index: 3;
            background-color: $white;
            overflow: auto;
            padding-bottom: 50px;

            ul {
               font-size: 18px;
               display: block;
               padding-top: 50px;
               margin: 0;
               margin-bottom: 40px;
               color: $accent;
               padding-right: 60px;

               a {
                  padding: 12px 0;
               }
            }
            li {
               margin: 0;
               border-bottom: 1px solid $blue;
            }
         }
      }
      &__banner {
         display: flex;
      }
      &__navigation-logo {
         display: block;
      }
      &__mobile-buttons {
         display: block;
         margin: 0 auto;
         text-align: center;
         margin-top: 40px;
      }
      &__mobile-btn {
         display: block;
         margin-top: 10px;
      }
      &__navigation {
         display: none;
         padding: 15px;
      }
      
      &__menu-btn {
         display: flex;
      }
      &__buttons {
         flex-direction: row;
         align-items: center;
         justify-content: center;
         flex-wrap: wrap;
         margin: -8px;
      }
      &__btn {
         display: block;
         max-width: 300px;
         margin: 8px;
         height: 100%;

         &:last-child {
            margin: 8px;
         }
      }
   }
}

@media (max-width: 768px) {

} 
// /Tablets 
