.categories {
    padding-top: 90px;
    padding-bottom: 135px;

    &__box {
        margin-bottom: 85px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        margin-bottom: 23px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        img {
            max-width: 50px;
        }
    }

    &__title-wrapper {
        text-align: center;
    }

    &__title {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
        border-bottom: 4px solid transparent;
        padding-bottom: 10px;

        &.active {
            border-color: $accent;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -5px;
        overflow: hidden;
        padding-left: 0;
        list-style: none;
    }

    &__item {
        position: relative;
        margin: 5px;
        width: calc(33.333% - 10px);
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid #EAEAF2;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        padding-right: 17px;
        font-weight: 500;
        font-family: 'Graphik-Medium', sans-serif;
        font-size: 16px;

        span {
            text-transform: capitalize;
        }
    }
}
