.footer {
    background-color: $footer;
    font-size: 15px;

    &__container {
        padding: 0 25px;
        max-width: 1210px;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 77px 0;
        line-height: 20px;
        color: $white;
    }

    &__info {
        width: 29%;
        margin-right: 60px;
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__text {
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 60px;
    }

    &__buttons {
        display: flex;
        margin: -15px;
        overflow: hidden;
    }

    &__btn {
        display: flex;
        border-radius: 5px;
        margin: 8px;

        img {
            border-radius: 5px;
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        width: 71%;
    }

    &__list {
        width: calc(25% - 30px);
        margin: 0 15px;
        list-style: none;
        padding-left: 0;

        a {
            display: block;
            &:hover {
                text-decoration: underline;
            }
        }

        li {
            position: relative;
            margin: 0;
            margin-bottom: 30px;
            &::after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: $accent;
            }
            &:not(.footer__label) {
                margin-bottom: 15px;
                font-family: 'Graphik-Medium', sans-serif;
                font-weight: 500;
            }
        }
    }

    &__label {
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__bottom {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 35px 0;
    }
    
    &__copy {
        line-height: 160%;
        color: rgba(255, 255, 255, 0.3);
    }
}

