.header {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100px;
    z-index: 10;
    font-family: 'Graphik-Medium', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    &__banner {
        display: none;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px 0 30px;
        max-width: 1440px;
        margin: 0 auto;
    }

    &__btn {
        &:last-child {
            margin-left: 10px;
            padding: 10px 30px;
        }
    }

    &__logo {
        margin-right: 30px;
    }

    &__menu-btn {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 13px;
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 12;
        border: none;
        border-radius: 7px;
        background-color: $accent;
        cursor: pointer;
        
        span {
            display: block;
            width: 16px;
            height: 2px;
            flex-shrink: 0;
            background-color: $white;
            transition: .3s ease-in;
            transform-origin: center;
        }

        &.active {
            span {
                &:nth-child(2) {
                    opacity: 0;
                }
                &:first-child {
                    transform: rotate(45deg) translate(5px, 4px);
                }
                &:last-child {
                    transform: rotate(-45deg) translate(4px, -3px);
                }
            }
        }
    }

    &__mobile-buttons {
        display: none;
    }

    &__navigation-logo {
        display: none;
    }

    &__navigation {
        display: flex;
        align-items: center;
        margin-left: auto;

        ul {
            list-style: none;
            padding-left: 0;
        }

        li.active > ul {
            display: block;
        }
        
        // Навигация в хедере
        & > ul {
            display: flex;
            align-items: center;
            list-style: none;
            flex-wrap: wrap;
            margin: 0 -25px;

            a {
                display: block;
            }
    
            & > li {
                position: relative;
                margin: 0 25px;
                padding: 40px 0;
                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 32px;
                    height: 2px;
                    width: 0;
                    background-color: $accent;
                    transition: width ease-out .2s;
                }

                // Все вложенные меню по умолчанию скрыты
                ul {
                    display: none;
                }
            }
        }

        
    }

    &__buttons {
        display: flex;
        margin-left: 70px;
    }
}
