.info {
    padding: 150px 0;

    &__list {
        list-style: none;
        padding-left: 0;
    }

    &__item {
        margin-bottom: 135px;

        h2, h4 {
            max-width: 530px;
        }

        h4 {
            margin-bottom: 0;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.info-component {
    &.opened {
        span.info-block__hidden {
            display: inline;
        }
        .info-block__hidden {
            display: block;
        }
        .info-block__btn svg {
            transform: rotate(180deg);
        }
    }
}

.info-block {
    overflow: hidden;

    &__hidden {
        display: none;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -19px 20px -19px;
    }

    &__text {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__col {
        margin: -8px 19px;
        width: calc(50% - 38px);
    }

    &__btn,
    &__link {
        display: inline-block;
        margin: 15px 0;
        color: $accent;
        font-family: 'Graphik-Semibold', sans-serif;
        font-weight: 600;

        svg {
            display: inline-block;
            margin-left: 6px;
            transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) .4s;
        }
    }
}