.invoice-templates {
    padding-top: 90px;
    padding-bottom: 35px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 460px;
    }

    &__img {
        position: relative;
        margin-left: 90px;
        filter: drop-shadow(0px 10px 30px rgba(12, 52, 106, 0.1));
        img {
            max-height: 520px;
            border-radius: 10px;
        }
        &--small {
            padding-left: 40px;
            img {
                width: 291px;
                max-height: none;
            }
        }
    }

    &__text {
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    &__item {
        margin: 15px;
        &:nth-child(2) {
            .invoice-templates__name {
                margin-left: 8px;
            }
        }
    }

    &__link {
        display: block;
    }

    &__icon {
        margin-bottom: 17px;
    }

    &__img-item {
        position: absolute;
        left: 0;
        bottom: -35px;

        img {
            height: auto;
            width: 113px;
        }
    }

    &__name {
        display: flex;
        align-items: center;
        font-family: 'Graphik-Semibold', sans-serif;
        color: $accent;
        font-weight: 600;
        margin-left: 3px;

        span {
            display: inline-block;
            margin-right: 8px;
        }
    }
}
