.lead {
    background-color: rgba($text, .02);
    padding: 95px 0;

    &--default {
        background-color: $background;
    }

    &--grey {
        background-color: rgba($grey, .02);
    }

    &__inner {
        text-align: center;
    }

    &__btn {
        margin-top: 45px;
    }
}
